<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Clients</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="bx-wrapper" style="max-width: 915px;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 120px;"><div class="bxslider" id="clients-carousel" style="width: 1115%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
      <div class="client-item wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px; visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/1@2x.png" alt="" class="img-responsive" width="210" height="116">
      </div>
      <div class="client-item wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.1s" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px; visibility: visible; -webkit-animation: fadeInDown 0.7s 0.1s;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/2@2x.png" alt="" class="img-responsive" width="210" height="119">
      </div>
      <div class="client-item wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.2s" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px; visibility: visible; -webkit-animation: fadeInDown 0.7s 0.2s;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/3@2x.png" alt="" class="img-responsive" width="210" height="112">
      </div>
      <div class="client-item wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.3s" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px; visibility: visible; -webkit-animation: fadeInDown 0.7s 0.3s;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/4@2x.png" alt="" class="img-responsive" width="207" height="120">
      </div>
      <div class="client-item" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/5@2x.png" alt="" class="img-responsive" width="198" height="120">
      </div>
      <div class="client-item" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/2@2x.png" alt="" class="img-responsive" width="210" height="119">
      </div>
      <div class="client-item" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/4@2x.png" alt="" class="img-responsive" width="207" height="120">
      </div>
      <div class="client-item" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/3@2x.png" alt="" class="img-responsive" width="210" height="112">
      </div>
      <div class="client-item" style="float: left; list-style: none; position: relative; width: 210px; margin-right: 25px;">
        <img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/clients/1@2x.png" alt="" class="img-responsive" width="210" height="116">
      </div>
    </div></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev disabled" href=""></a><a class="bx-next" href=""></a></div></div></div>
  </div>
</section>