<div style="background: #ededed; padding-top: 25px;" id="developers" name="developers">
  <div class="container">
    <div class="row">
      </br>
      <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.ruby_developers') %></h3>
<p style="text-align: center;"><%= (t 'developers.main') %></p>
      <p style="text-align: center;"><%= (t 'developers.text') %></p>
      <p style="text-align: center;"><%= (t 'developers.pay_system') %></p>
    </div>
  </div>
</div>