<section id="facts" class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
        <h1 class="counter">75</h1>
        <p>satisfied clients</p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.1s;">
        <h1 class="counter">352</h1>
        <p>project delivered</p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.2s;">
        <h1 class="counter">2148</h1>
        <p>likes</p>
      </div>
      <div class="col-sm-3 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.3s;">
        <h1 class="counter">142</h1>
        <p>winning awards</p>
      </div>
    </div>
  </div>
</section>