    <section class="main" id="home" style="position: relative;">
      <div class="page">
        <div class="wrapper">
          <div class="container">
            <div style="position: relative; z-index: 2;">
              <%= image_tag("alexandr_basan_old.png", height: '160', width: '220', class: 'img-responsive', style: 'margin: 0 auto;') %>

            <h1 class="heading">Alexandr Basan</h1>
            <p>
              Senior Web Developer / Developer / Project manager / CEO / CTO
            </p>
            </div>
          </div>

          <%= link_to (root_path) do %>
              <div class="mouse-icon">
                <div class="wheel"></div>
              </div>
          <% end %>

        </div>
      </div>
    </section>
    <div style="position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            opacity: .3;
            filter: alpha(opacity=10);
            overflow: hidden;">
      <img src="/assets/big-1.jpg" alt="Treble">
    </div>