<section class="section section-solid" id="portfolio" name="portfolio" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t ('menu.portfolio') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
        <ul id="filter" class="list-inline filter-tags">
          <li><a href="#" class="btn btn-sm btn-theme-inverse active" data-group="all">All</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="branding">Branding</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="web">Web</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="app">App</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="portfolio-container" class="text-center wow fadeInDown shuffle animated" data-wow-duration="0.7s" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.1s; position: relative; height: 384px; transition: height 450ms ease-out; -webkit-transition: height 450ms ease-out;">
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/1.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Mollis magna</a>
          <span class="category">branding</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;web&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(256px, 0px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/2.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Suspendisse potenti</a>
          <span class="category">web</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;app&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(512px, 0px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/3.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Sed hendrerit</a>
          <span class="category">app</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(768px, 0px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/4.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Etiam commodo lacus</a>
          <span class="category">branding</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;web&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(1024px, 0px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/5.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">ac tristique</a>
          <span class="category">web</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;app&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(0px, 192px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/6.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">ipsum tempor quis</a>
          <span class="category">app</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(256px, 192px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/7.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Donec accumsan</a>
          <span class="category">branding</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;web&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(512px, 192px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/8.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">arcu id porta</a>
          <span class="category">web</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;app&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(768px, 192px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/9.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">Curabitur posuere</a>
          <span class="category">app</span>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-item shuffle-item filtered" data-groups="[&quot;all&quot;, &quot;branding&quot;]" style="position: absolute; top: 0px; left: 0px; opacity: 1; transform: translate3d(1024px, 192px, 0px) scale3d(1, 1, 1); visibility: visible; transition: transform 450ms ease-out, opacity 450ms ease-out; -webkit-transition: transform 450ms ease-out, opacity 450ms ease-out;">
      <figure>
        <div class="portfolio-img">
          <a href="portfolio-single.html" class="overlay">
							<span class="btn btn-sm btn-theme">
							<i class="fa fa-external-link"></i>
							</span>
          </a>
          <img src="assets/img/portfolio/10.jpg" alt="" class="img-responsive">
        </div>
        <figcaption class="hidden-md hidden-lg">
          <a href="portfolio-single.html" class="title">lacus id sapien</a>
          <span class="category">branding</span>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="#" class="btn btn-theme-inverse mt40 wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s" style="visibility: hidden; -webkit-animation: none 0.7s 0.2s;">More</a>
      </div>
    </div>
  </div>
</section>