<div style="background: #292929; padding-top: 40px;" id="technologies" name="technologies">
  <div class="container">
    <div class="row">
      <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray; color: #ffffff;"><%= t ('technology.tech') %></h3>
      <div class="technologies" align="center">
        <ul class="list-inline">
          <li>
            <a href="http://www.ruby-lang.org" target="_blank">
              <img src="/assets/technologies/ruby.png" class="techno-img" title="Ruby" alt="Ruby">
            </a>
          </li>
          <li>
            <a href="http://rubyonrails.org" target="_blank">
              <img src="/assets/technologies/rails.png" class="techno-img" title="Ruby on Rails" alt="Ruby on Rails">
            </a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/HTML5" target="_blank">
              <img src="/assets/technologies/html5.png" class="techno-img" title="HTML5" alt="HTML5">
            </a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">
              <img src="/assets/technologies/css3.png" class="techno-img" title="CSS3" alt="CSS3">
            </a>
          </li>
          <li>
            <a href="http://haml.info" target="_blank">
              <img src="/assets/technologies/haml.png" class="techno-img haml" title="Haml" alt="Haml">
            </a>
          </li>
          <li>
            <a href="http://sass-lang.com" target="_blank">
              <img src="/assets/technologies/sass.png" class="techno-img sass" title="Sass" alt="Sass">
            </a>
          </li>
          <li>
            <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">
              <img src="/assets/technologies/javascript.png" class="techno-img javascript" title="JavaScript" alt="JavaScript">
            </a>
          </li>
          <li>
            <a href="http://www.postgresql.org" target="_blank">
              <img src="/assets/technologies/postgresql.png" class="techno-img" title="PostgreSQL" alt="PostgreSQL">
            </a>
          </li>
          <li>
            <a href="http://www.mysql.com" target="_blank">
              <img src="/assets/technologies/mysql.png" class="techno-img mysql" title="MySQL" alt="MySQL">
            </a>
          </li>
          <li>
            <a href="http://www.mongodb.org" target="_blank">
              <img src="/assets/technologies/mongodb.png" class="techno-img2" title="mongoDB" alt="mongoDB">
            </a>
          </li>
          <li>
            <a href="http://redis.io" target="_blank">
              <img src="/assets/technologies/redis.png" class="techno-img2 redis" title="Redis" alt="Redis">
            </a>
          </li>
          <li>
            <a href="http://coffeescript.org" target="_blank">
              <img src="/assets/technologies/coffeescript.png" class="techno-img2" title="CoffeeScript" alt="CoffeeScript">
            </a>
          </li>
          <li>
            <a href="http://jquery.com" target="_blank">
              <img src="/assets/technologies/jquery.png" class="techno-img2" title="jQuery" alt="jQuery">
            </a>
          </li>
          <li>
            <a href="http://backbonejs.org" target="_blank">
              <img src="/assets/technologies/backbone.png" class="techno-img2" title="Backbone.js" alt="Backbone.js">
            </a>
          </li>
          <li>
            <a href="http://angularjs.org" target="_blank">
              <img src="/assets/technologies/angularjs.png" class="techno-img2" title="Backbone.js" alt="Backbone.js">
            </a>
          </li>
          <li>
            <a href="http://nodejs.org" target="_blank">
              <img src="/assets/technologies/node.png" class="techno-img2" title="Node.js" alt="Node.js">
            </a>
          </li>
          <li>
            <a href="http://aws.amazon.com" target="_blank">
              <img src="/assets/technologies/aws_amazon.png" class="techno-img2" title="Amazon web services" alt="Amazon web services">
            </a>
          </li>
          <li>
            <a href="http://nginx.com/" target="_blank">
              <img src="/assets/technologies/nginx.png" class="techno-img2 nginx" title="Nginx" alt="Nginx">
            </a>
          </li>
          <li>
            <a href="http://www.opscode.com/chef" target="_blank">
              <img src="/assets/technologies/chef.png" class="techno-img" title="Chef" alt="Chef">
            </a>
          </li>
          <li>
            <a href="http://cukes.info" target="_blank">
              <img src="/assets/technologies/cuke.png" class="techno-img2" title="Cucumber" alt="Cucumber">
            </a>
          </li>
          <li>
            <a href="https://www.heroku.com/" target="_blank">
              <img src="/assets/technologies/heroku.jpg" class="techno-img2" title="Heroku" alt="Heroku">
            </a>
          </li>
          <li>
            <a href="https://developers.google.com/maps/" target="_blank">
              <img src="/assets/technologies/google-maps-api-logo.png" class="techno-img2" title="Google Maps API" alt="Google Maps API">
            </a>
          </li>
          <li>
            <a href="https://dev.twitter.com/" target="_blank">
              <img src="/assets/technologies/twitter_api.png" class="techno-img2" title="Twitter API" alt="Twitter API">
            </a>
          </li>
          <li>
            <a href="https://developers.facebook.com/" target="_blank">
              <img src="/assets/technologies/facebook-api.png" class="techno-img2" title="Facebook API" alt="Facebook API">
            </a>
          </li>
          <li>
            <a href="https://developers.google.com/+/api/" target="_blank">
              <img src="/assets/technologies/google_plus_api.png" class="techno-img2" title="Google+ API" alt="Google+ API">
            </a>
          </li>
          <li>
            <a href="http://getbootstrap.com/" target="_blank">
              <img src="/assets/technologies/bootstrap1.jpg" class="techno-img2" title="Bootstrap" alt="Bootstrap">
            </a>
          </li>
          <li>
            <a href="http://metroui.org.ua/" target="_blank">
              <img src="/assets/technologies/metrouicss.png" class="techno-img2" title="MetroUI CSS" alt="MetroUI CSS">
            </a>
          </li>
          <li>
            <a href="http://newrelic.com/" target="_blank">
              <img src="/assets/technologies/new_relic.png" class="techno-img2" title="New Relic Server Monitoring" alt="New Relic Server Monitoring">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div style="background: #ededed; padding-top: 5px;">
</div>