<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Testimonials</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="tab-content">
        <div class="tab-pane active wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" id="quote-1" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;">
          <blockquote class="client-quote">
            <p>“Vivamus tempus placerat lectus in malesuada. Donec blandit vestibulum diam, vitae ultrices arcu accumsan eget. Aenean laoreet augue quis ante cursus, in vestibulum ante consequat.”</p>
            <cite>— Aliquam Massa</cite>
          </blockquote>
        </div>
        <div class="tab-pane" id="quote-2">
          <blockquote class="client-quote">
            <p>“Ut ac metus consectetur sem molestie mattis. Suspendisse vehicula sed sapien ut ullamcorper. Curabitur viverra aliquam dui, in imperdiet dui rutrum vel.”</p>
            <cite>— Donec Lacinia</cite>
          </blockquote>
        </div>
        <div class="tab-pane" id="quote-3">
          <blockquote class="client-quote">
            <p>“Curabitur accumsan lectus eget venenatis accumsan. Sed nec faucibus magna. Nunc lobortis fermentum nisl, non dictum odio lobortis vulputate.”</p>
            <cite>— Nam Libero</cite>
          </blockquote>
        </div>
      </div>
      <ul class="testimonials-nav list-inline text-center">
        <li class="active wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0s;"><a href="#quote-1" data-toggle="tab"><img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/testimonials/1@2x.jpg" class="img-responsive" alt="" width="42" height="30"></a></li>
        <li class="wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.1s;"><a href="#quote-2" data-toggle="tab"><img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/testimonials/2@2x.jpg" class="img-responsive" alt="" width="42" height="30"></a></li>
        <li class="wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: fadeInDown 0.7s 0.2s;"><a href="#quote-3" data-toggle="tab"><img src="http://choco-pixel.com/SeventyThree-1.1/Personal/assets/img/testimonials/3@2x.jpg" class="img-responsive" alt="" width="42" height="30"></a></li>
      </ul>
    </div>
  </div>
</section>