<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">Copyright © 2014. All rights reserved.</div>
      <div class="col-md-6"><div align="right">Alexandr Basan - official site.</div></div>
    </div>
  </div>
</footer>